@font-face {
    font-family: 'Copperplate Light';
    font-style: normal;
    font-weight: 400;
    src: url(../iconfont/OPTICopperplate-Light.otf);
}

a{
    text-decoration: none;
}

.small-icon{
    font-size:15px;
}

.navigation-frame{
    z-index: 999;
    /*background-color: green;*/
}

.element-frame{
    border: none;
}

.all-elements{
    position: absolute;
    top: 7%;
    left: 0px;
    width: 100%;
    height: 93%;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.footer{
    position: relative;
    float: left;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: #f9f9f9;
    /*background-color: green;*/
}

.footer h1{
    position: relative;
    float: left;
    left: 0;
    top: 30%;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    /*background-color: green;*/
}

.decoration-center {
    position: relative;
    float: left;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: #ebebeb;
    margin-bottom: 0px;
    display: block;
    clear: both;
}

/*.main-logo{*/
    /*background-image: url(../images/isports-white.png);*/
    /*background-size: 90%;*/
    /*line-height: 50px;*/
    /*!*background-repeat: no-repeat;*!*/
/*}*/

/*
菜单栏的小三角   one 是第一项下面的...以此类推
*/

.triangle{
    border-color: #79BD9A rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) ;
    border-style:solid;
    border-width: 10px 20px 0px 20px;
    height: 0;
    width: 0;
}

.menu-triangle{
    position: absolute;
    top:7%;
    z-index: 1;
    /*background-color: green;*/
}

.menu-triangle-one{
    left: 29.5%;
}

.menu-triangle-two{
    left: 39.5%;
}

.menu-triangle-three{
    left: 49.5%;
}

.menu-triangle-four{
    left: 59.5%;
}

.menu-triangle-five{
    left: 69.5%;
}

.big-icon{
    line-height: 50px;
    color:white;
}

.navigation-right-icon{
    position: relative;
    float: right;
    right: 5%;
    width: 15%;
    /*background-color: grey;*/
}

.navigation-right-icon i{
    position: relative;
    float: right;
    font-size: 22px;
    margin-right:8%;
    line-height: 50px;
}

.navigation-right-icon i:hover{
    color:#ED9282;
}

/*
activities
*/

.activity-holder{
    position: relative;
    float: left;
    left: 20%;
    top:6%;
    width: 60%;
    padding: 30px 2% 30px 2%;
    /*height: 200%;*/
    margin-bottom: 5%;
    border:  solid #eeeeee 1px;
    background-color: white;
}


.per-input{
    position: relative;
    float: left;
    top:5%;
    width: 44%;
    margin-left: 4%;
    margin-bottom: 3%;
    height: 40px;
    /*border:  solid #eeeeee 1px;*/
    /*background-color: greenyellow;*/
}

.per-input p{
    position: relative;
    float: left;
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
}

.per-input input {
    position: relative;
    float: right;
    /*top:40%;*/
    margin-top: 0;
    right: 5%;
    width: 60%;
    height: 60%;
    /*margin-top: 25px;*/
    border:  solid #ebebeb 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 300;

    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border-radius: 2px;
    outline: none;
}

.per-input input:focus{
    box-shadow: 0 0 7px #79BD9A;
    -webkit-box-shadow: 0 0 7px #79BD9A;
    -moz-box-shadow: 0 0 7px #79BD9A;
}

.per-input select {
    position: relative;
    float: right;
    /*top:40%;*/
    right: 5%;
    width: 60%;
    height: 60%;
    /*margin-top: 25px;*/
    border:  solid #ebebeb 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 300;

    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border-radius: 2px;
    outline: none;
}

.per-input select:focus{
    box-shadow: 0 0 7px #79BD9A;
    -webkit-box-shadow: 0 0 7px #79BD9A;
    -moz-box-shadow: 0 0 7px #79BD9A;
}

.big-bottom-button{
    position: relative;
    float: left;
    left: 0;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    color:white;
    font-size: 15px;
    background-color: #DE7E73;
}

.big-bottom-button:hover{
    background-color: rgb(235, 176, 150);
}

.big-bottom-button:active{
    background-color: rgb(226, 169, 143);
}

.search-holder{
    position: relative;
    float: left;
    left: 25%;
    top:20%;
    width: 50%;
    padding: 30px 2% 30px 2%;
    height: 200px;
    margin-bottom: 18%;
    /*border:  solid #eeeeee 1px;*/
    /*background-color: white;*/
}

.search-holder input{
    position: relative;
    float: left;
    top:33%;
    left: 10%;
    width: 60%;
    height: 16%;
    border:  solid #ebebeb 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
}

.search-holder input:focus{
    box-shadow: 0 0 7px #79BD9A;
    -webkit-box-shadow: 0 0 7px #79BD9A;
    -moz-box-shadow: 0 0 7px #79BD9A;
}

.search-holder a{
    text-align: center;
    width: 100%;
    font-size: 56px;
    color: #DE7E73;
    margin-bottom: 20px;
}

.search-holder h6{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #DE7E73;
    /*background-color: greenyellow;*/
}

.server-text{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: #99cd99;
    /*background-color: greenyellow;*/
}


.search-holder-button {
    position: relative;
    float: left;
    top:33%;
    left: 10%;
    width: 15%;
    height: 16%;
    border: none;
    /*border: solid #79BD9A 1px;*/
    outline: none;
    background-color: #79BD9A;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: whitesmoke;
}

.search-holder-button:hover {
    background-color: #A8DBA8;
}

.search-holder-button:active {
    background-color: #99cd99;
}

.top-search-btn{
    left: 5%;
    width: 10%;
    top:20%;
    height: 60%;
}

.activity-btn-holder{
    position: relative;
    float: left;
    top:5%;
    width: 92%;
    margin-left: 4%;
    /*background-color: green;*/
    margin-bottom: 4%;
    height: 50px;
    /*border:  solid #eeeeee 1px;*/
}

.activity-est{
    float: left;
    left: 0;
    width: 10%;
    margin-right: 3%;
    background-color: white;
}

.activity-new{
    float: right;
    top: 25%;
    right: 0;
    width: 13%;
    height: 50%
    /*margin-right: 3%;*/
}

.activity-btn{
    position: relative;
    top: 20%;
    height: 60%;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: white;
    /*background-color: green;*/
}

.activity-btn:hover{
    font-weight: 700;
}

.activity-btn:active{
    font-weight: 700;
}

.activity-btn-selected{
    position: relative;
    top: 20%;
    height: 60%;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background-color: #DE7E73;
}

.normal-input {
    position: relative;
    float: left;
    border:  solid #ebebeb 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 300;

    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border-radius: 2px;
    outline: none;
}

.normal-input:focus{
    box-shadow: 0 0 7px #79BD9A;
    -webkit-box-shadow: 0 0 7px #79BD9A;
    -moz-box-shadow: 0 0 7px #79BD9A;
}

.top-search{
    left: 5%;
    top: 21%;
    height: 58%;
    width: 57%;
}

.per-activity{
    position: relative;
    float: left;
    top:5%;
    width: 44%;
    margin-left: 4%;
    margin-bottom: 4%;
    height: 250px;
    border:  solid #eeeeee 1px;
}
/*
标签
 */
.tag-a{
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 24px;
    margin: 0 10px 5px 0;
    line-height: 24px;
    padding: 0 8px 0 18px;
    border-radius: 0 4px 4px 0;
    background: #eee;
    font-size: 12px;
    color: #333;
    cursor: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tag-a:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 12px 12px 12px 0;
    border-color: #fff transparent;
    border-style: solid;
}

.tag-a:after{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    top: 10px;
    left: 8px;
    border-radius: 100%;
    background: #fff;
}

.activity-head-holder{
    position: relative;
    float: left;
    top:5%;
    width: 95%;
    padding-left: 5%;
    /*background-color: #88C366;*/
}

.activity-head-holder h1{
    /*width: auto;*/
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    width: auto;
    /*background-color: goldenrod;*/
}

.activity-head-holder h4{
    float: left;
    /*width: 100%;*/
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: grey;
    margin-right: 10px;
    /*background-color: #99cd99;*/
}

.activity-head-holder a{
    cursor: pointer;
    float: left;
    /*width: 100%;*/
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    color: grey;
    margin-right: 10px;
    /*background-color: #99cd99;*/
}

.activity-head-holder p{
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 300;
}

.activity-time-address-holder{
    position: relative;
    float: right;
    top:5%;
    width: 30%;
    padding-right: 5%;
    text-align: left;
    /*background-color: #88C366;*/
}

.activity-time-address-holder h1{
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: grey;
}

.details-holder{
    position: relative;
    float: right;
    top:5%;
    right: 5%;
    width: 55%;
    margin-top: 10px;
    height: 50%;
    /*background-color: green;*/
}

.details-holder p{
    position: relative;
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.photo-holder{
    position: relative;
    float: left;
    top:5%;
    left: 5%;
    width: 30%;
    margin-top: 10px;
    height: 50%;
    /*background-color: green;*/
}

.photo-item{
    position: relative;
    float: left;
    top:5%;
    /*left: 5%;*/
    margin-right: 0.3%;
    width: 200px;
    /*background-color: goldenrod;*/
}

.photo-item img{
    float: left;
    left: 0%;
    width: 200px;
}

.icover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#A8DBA8;
    opacity: 0;
}

.icover:hover{
    opacity: 0.3;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}

.price-text{
    font-size: 17px;
    font-weight: 500;
    color:#DE7E73;
}

.activity-description{
    position: relative;
    float: left;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 10%;
    padding-top: 10px;
    /*background-color: green;*/
}

.activity-description p{
    position: relative;
    float: left;
    width: 70%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    /*background-color: gold;*/
}

.activity-description a{
    position: relative;
    float: right;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color:black;
    /*background-color: gold;*/
}

.activity-description a:hover{
    cursor: pointer;
    color: white;
    background-color: #DE7E73;;
}

.goods-description{
    position: relative;
    float: right;
    top: -5%;
    left: 1%;
    width: 60%;
    margin-top: -5%;
    /*height: 10%;*/
    padding-top: 10px;
    /*background-color: green;*/
}

.goods-description p{
    float: left;
    font-weight: 300;
    margin-right: 15px;
    font-size:16px;
}

.goods-description h6{
    float: left;
    font-weight: 300;
    font-size: 14px;
    margin-right: 15px;
    line-height: 30px;
    /*background-color: greenyellow;*/
}

.per-activity-footer{
    position: relative;
    float: left;
    top: 8%;
    left: 5%;
    width: 90%;
    height: 8%;
    padding-top: 2px;
    /*background-color: green;*/
}

.per-activity-footer i{
    font-size: 22px;
    position: relative;
    float: right;
    right: 2%;
    /*color: darkgray;*/
    transition: 2s;
    -webkit-transition: 2s; /* Safari */
    /*-ms-transition: 2s;*/
    -moz-transition: 2s;
}

.per-activity-footer i:hover{
    /*right: 9%;*/
    /*color: #bc0000;*/
    transition: 2s;
    -webkit-transition: 2s; /* Safari */
    /*-ms-transition: 2s;*/
    -moz-transition: 2s;
    /*background-color: #88C366;*/
    animation:mymove 2s 1;
    -webkit-animation:mymove 2s 1; /*Safari and Chrome*/
}

/*
  为了让心动起来
*/
@keyframes mymove
{
    from {right:2%;}
    to {right:9%;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {right:2%;}
    to {right:9%;}
}

.text-hide{
    display: none;
}

.text-show{
    display: inline;
}

.per-activity-footer p{
    font-size: 12px;
    line-height: 22px;
    position: relative;
    float: right;
    right: 10%;
    color: #4b4b4b;
    /*background-color: green;*/
}

.per-activity-footer-h5-none{
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    float: right;
    right: 2%;
    color: #4b4b4b;
    /*display: none;*/
}

.per-activity-footer-h5-show{
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    float: right;
    right: 2%;
    color: #4b4b4b;
    display: none;
}

.hover-change{/*空属性，只是为了方便使用jquery的选择器*/}


.login-holder{
    position: relative;
    float: left;
    top:6%;
    left: 15%;
    width: 70%;
    /*padding: 30px 2% 30px 2%;*/
    height: 80%;
    margin-left: 0;
    border:  solid #eeeeee 1px;
    background-color: white;
}

.login-left{
     position: relative;
     float: left;
     left: 0;
     width: 61.8%;
     height: 100%;
     border-right: inset #eeeeee 1px;
     /*background-color: green;*/
 }

.login-right{
    position: relative;
    float: right;
    right: 0;
    width: 38%;
    height: 100%;
    /*background-color: teal;*/
}

.login-right input {
    position: relative;
    float: left;
    top:40%;
    left: 12%;
    width: 70%;
    height: 7%;
    margin-top: 25px;
    border:  solid #ebebeb 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 300;

    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border-radius: 2px;
    outline: none;
}

.login-right input:focus{
    box-shadow: 0 0 7px #79BD9A;
    -webkit-box-shadow: 0 0 7px #79BD9A;
    -moz-box-shadow: 0 0 7px #79BD9A;
}

.login-right button {
    position: relative;
    float: left;
    top:40%;
    left: 12%;
    width: 76%;
    height: 8%;
    border: none;
    outline: none;
    margin-bottom: 25px;
    background-color: #79BD9A;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: whitesmoke;
}

.login-right button:hover {
    background-color: #A8DBA8;
}

.login-right button:active {
    background-color: #99cd99;
}

.login-under-input{
    position: relative;
    float: left;
    top:40%;
    left: 10%;
    width: 80%;
    height: 7%;
    /*background-color: green;*/
}

.activity-holder{
    position: relative;
    float: left;
    left: 20%;
    top:6%;
    width: 60%;
    padding: 30px 2% 30px 2%;
    /*height: 200%;*/
    margin-bottom: 1%;
    border:  solid #eeeeee 1px;
    background-color: white;
}

.thin-forty{

    top:15%;
    padding-top: 3%;
    left: 30%;
    width: 40%;
    margin-bottom: 16%;
}

.width-ninety{
    /*left: 4%;*/
    margin-left: 4%;
    width: 92%;
}

.goods-detail-head{
    position: relative;
    float: left;
    width: 95%;
    padding-left: 3%;
    font-size: 18px;
    font-weight: 500;
    color: #1e8248;
    padding-bottom: 2%;
    /*background-color: olive;*/
}

.goods-compare{
    list-style-type: none;
    text-align: center;
}

.source-head{
    position: relative;
    float: left;
    width: 25%;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 6px;
    border-bottom: solid 1px #eeeeee;
}

.source-name{
    position: relative;
    float: left;
    width: 25%;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: solid 1px #eeeeee;
}

.goods-name{
    position: relative;
    float: left;
    width: 25%;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: solid 1px #eeeeee;
}

.goods-price{
    position: relative;
    float: left;
    width: 25%;
    font-size: 15px;
    font-weight: 400;
    color:#DE7E73;
    font-weight: 500;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: solid 1px #eeeeee;
}

.go-shopping{
    position: relative;
    float: left;
    width: 25%;
    font-size: 15px;
    font-weight: 400;
    color:#1e8248;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: solid 1px #eeeeee;
}

.go-shopping a {
    color:#1e8248;
}

.per-comment{
    position: relative;
    float: left;
    width: 100%;
}

.per-comment h6{
    position: relative;
    float: left;
    text-align: left;
    left: 5%;
    width: 90%;
    font-size: 12px;
    font-weight: 300;
    color: grey;
    margin-top: 5px;
    margin-bottom: 3px;
}
.per-comment span{
    margin-right: 10px;
}

.per-comment a{
    color:#1e8248;
}

.per-comment p{
    position: relative;
    float: left;
    text-align: left;
    left: 1%;
    padding-left: 4%;
    padding-right: 4%;
    width: 90%;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 8px;
    color: black;
    border-bottom: solid 1px #eeeeee;
}

.goods-comment{
    float: left;
    left: 5%;
    width: 90%;
    height: 80px;
    resize: none;
    border: solid 1px #eeeeee;
}

.comment-btn {
    position: relative;
    float: right;
    right: 2.5%;
    margin-top: 10px;
    width: 12%;
    height: 30px;
    border: none;
    /*border: solid #79BD9A 1px;*/
    outline: none;
    background-color: #79BD9A;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.comment-btn:hover {
    background-color: #A8DBA8;
}

.comment-btn:active {
    background-color: #99cd99;
}